<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog WebApp</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <h1>Blog WebApp</h1>
    <form action="/blogs/new" method="get">
        <button>New Blog</button>
    </form>

    <% for (let blog of blogs) { %>
        <div class="blog">
            <p>Title: <%= blog.title %></p>
            <p>Author: <%= blog.author %></p>
            <br>
            <div class="blog-msg">
                <p><%= blog.blog %></p>
                <div class="main-button">
                    <form action="/blogs/<%= blog._id%>/edit" method="get">
                        <button>Edit</button>
                    </form>
                    <form action="/blogs/<%= blog._id%>?_method=DELETE" method="post">
                        <button>Delete</button>
                    </form>
                </div>
            </div>
            <br>
            <hr>
            <p>Posted at:</p>
            <p> <%= blog.created_at.toString().split(" ")[4] %> </p>
            <p> <%= blog.created_at.toString().split(" ").slice(0,4).join("-")%> </p>
        </div>
    <% } %>

    <footer style="position: fixed;
      bottom: 0;
      background: linear-gradient(135deg, #ff1493 0%, #1c86ee 100%);;
      color: black;
      text-align: center;
      width: 100%;
      font-weight: 500;">
      Copyright &copy;2024.All rights reserved by Mr Pranav Gujar
    </footer>
</body>
</html>